# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fantord

# Run locally
DB_HOST=localhost
# Run in docker, change host to database container name
# DB_HOST=postgres
DB_PORT=5432
DB_SCHEMA=public

# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer

# MYSQL
MYSQL_USER=mysql
MYSQL_PASSWORD=password
MYSQL_DB=fantord

# Run locally
DB_HOST=localhost
# Run in docker, change host to database container name
# DB_HOST=MYSQL
DB_PORT=3306
DB_SCHEMA=public

# Prisma Database connection
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${DB_HOST}:${DB_PORT}/${MYSQL_DB}?schema=${DB_SCHEMA}&sslmode=prefer